<%= form_for(@membership) do |f| %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :approved?, value: false %>

  <div class="field">
    <b>Apply for Group Membership</b>
    <% user_groups = [] %>
    <% @groups.each do |group| %>
      <% user_groups = user_groups.push([group.name, group.id]) %>
    <% end %>
    <%= f.select :group_id, user_groups %>
  </div>
  <div class="actions">
    <%= f.submit "Apply to Group"%>
  </div>
<% end %>
