<h2>Full Membership list</h2>
<%= will_paginate @approvals %>

<!-- <hr>
<% @approvals.each do |approval| %>
<% @group_name = Group.where('id' => approval.group_id) %>
<b>Requested Group: </b>
<%= @group_name[0].name %>
| 
<% @username = User.where('id' => approval.user_id) %>
<b>User: </b>
<%= @username[0].primary_character_name %> | 
<b>Submitted at:</b>
<%= approval.created_at %>
<%= form_for(approval) do |f| %>
<%= f.hidden_field :approved, value: true %>
<%= f.submit "Approve" ,:class => 'success button float-left' %>
<% end %>
<%= link_to 'Deny', approval, method: :delete, data: { confirm: 'Are you sure?' },:class => 'alert button float-left' %>
<hr>
<% end %> -->

<ul class="accordion" data-accordion data-allow-all-closed="true">

<% @approvals.each do |approval| %>
    <li class="accordion-item srp_item" data-accordion-item>
    <a href="#" class="accordion-title">
    	<% @group_name = Group.where('id' => approval.group_id) %>
    	<strong>Group: </strong><%= @group_name[0].name %> | 
    	<% @username = User.where('id' => approval.user_id) %>
    	<strong>User: </strong><%= @username[0].primary_character_name %> | 
    	<strong>Submitted at: </strong><%= approval.created_at %>

    </a>
    <div class="accordion-content membership-application" data-tab-content>
        <%= form_for(approval) do |f| %>
        <%= f.hidden_field :approved, value: true %>
        <%= f.submit "Approve" ,:class => 'success button float-left' %>
        <% end %>
        <%= link_to 'Deny', approval, method: :delete, data: { confirm: 'Are you sure?' },:class => 'alert button float-left' %>
    </div>
  <% end %>