<table>
	<tbody id='toolbar-table'>
	<tr>
	<td class='toolbar-row'>.</td>
	</tr>
	<tr>
	<td class='toolbar-row'><b>User Tools</b></td>
	</tr>

    <% if user_signed_in? %>
 	<tr>
	<td class='toolbar-row'><%= link_to 'My Profile', current_user %></td>
	</tr>
    <tr>
	<td class='toolbar-row'><%= link_to('Edit Account', edit_user_registration_path) %></td>
	</tr>
	<% end %>

	<% if current_user.valid_api == true or current_user.admin == true %>
	<tr>
	<td class='toolbar-row'><%= link_to 'Active Timers', timesheets_path %></td>
	</tr>
	<tr>
	<td class='toolbar-row'><%= link_to 'SRP Requests', srp_requests_path %></td>
	</tr>
	<tr>
	<td class='toolbar-row'><%= link_to 'Memberships', memberships_path %></td>
	</tr>
	<tr>
	<td class='toolbar-row'><%= link_to 'Forum', topics_path(:topic_id => nil) %></td>
	</tr>
	<tr>
	<td class='toolbar-row'>.</td>
	</tr>
	<% end %>

	<% if current_user.admin == true %>
	<tr>
	<td class='toolbar-row'><b>Director Tools</b></td>
	</tr>
	<tr>
	<td class='toolbar-row'><%= link_to 'Admin Dashboard', admin_dashboard_path %></td>
	</tr>
	<tr>
	<td class='toolbar-row'><%= link_to 'Logs', log_index_path %></td>
	</tr>
	<tr>
	<td class='toolbar-row'><%= link_to 'User Index', users_path %></td>
	</tr>
	<tr>
	<td class='toolbar-row'><%= link_to 'SRP managment', admin_index_pending_path %></td>
	</tr>
	<tr>
	<td class='toolbar-row'><%= link_to 'Group Managment', groups_path %></td>
	</tr>
	<tr>
	<td class='toolbar-row'>.</td>
	</tr>
	<tr>
	<td class='toolbar-row'>Moon logs</td>
	</tr>
	<tr>
	<td class='toolbar-row'>Bullitens</td>
	</tr>
	<tr>
	<td class='toolbar-row'>Black List</td>
	</tr>
	<tr>
	<td class='toolbar-row'>Bounty Board</td>
	</tr>
	<tr>
	<td class='toolbar-row'>After Action Reports</td>
	</tr>
	<% end %>
	</tbody>
</table>
