Log Book

 <%= will_paginate @logs %>

<table class='log'>
<% @logs.each do |log| %>
<tr>
	<td class='index_entry log_id' > Task ID: <%= log.id %> </td><td class='index_entry'><%= log.created_at %> | <%= log.task_length %> : <%= log.table %> | (<%= log.event_code %>) <%= log.event %> - <%= log.details %></td>
</tr>
<% end %>
</table>
