<table>
	<tbody id='toolbar-table'>

    <% if user_signed_in? %>
    <tr>
	<td><%= link_to('Edit Account', edit_user_registration_path) %></td>
	</tr>
	<tr>
	<td>_</td>
	</tr>
	<% end %>

	<% if current_user.valid_api == true or current_user.admin == true%>
	<tr>
	<td><%= link_to 'Timer Utility', timesheets_path %></td>
	</tr>
	<tr>
	<td>SRP Request</td>
	</tr>
	<tr>
	<td>Forum</td>
	</tr>
	<tr>
	<td>_</td>
	</tr>
	<% end %>

	<% if current_user.admin == true %>
	<tr>
	<td><%= link_to 'Admin Dashboard', dashboard_path %></td>
	</tr>
	<tr>
	<td><%= link_to 'Log index', log_index_path %></td>
	</tr>
	<tr>
	<td><%= link_to 'User Index', users_path %></td>
	</tr>
	<tr>
	<td>SRP Managment</td>
	</tr>
	<tr>
	<td>_</td>
	</tr>
	<% end %>
	</tbody>
</table>
