
<h2>Admin Index</h2>
<div class='hidden'>
<span id="success-badge" class="success badge" title="Valid API" onclick="Module.index_filter('valid')">V</span>
<span id="warning-badge" class="warning badge" title="Warning - Standing Error or Invalid Key" onclick="Module.index_filter('warning')">S</span>
<span id="alert-badge" class="alert badge" title="Error - No API Key" onclick="Module.index_filter('error')">E</span> 
</div>
<%= will_paginate @user, class: "float-right" %>


<!-- <div class='index_content'>
	<% @user.each do |user| %>
	<% if user.valid_api == true %>
	<div id="<%= user.id %>" class='index_entry valid'>
		<span class="success badge" title="Valid API">V</span>
		<% elsif user.valid_api == false and (user.v_code == "" and user.key_id == "") or (user.v_code == nil and user.key_id == nil) %>
		<div id="<%= user.id %>" class='index_entry error'>
			<span class="alert badge error" title="Error - No API Key">E</span>
			<% else %>
			<div id="<%= user.id %>" class='index_entry warning'>
				<span class="warning badge warningplete" title="Warning - Standing Error or Invalid Key">S</span>
				<% end %>
				<%= user.id %> - 
				<% if user.primary_character_name != nil %>
				<%= user.primary_character_name %> <% if user.admin == true %>*<% elsif user.director == true %>^<% end %>
				<% else %>
				<%= user.email %> <% if user.admin == true %>*<% end %>
				<% end %>
				<span class="float-right">

					|<%= link_to 'User Profile', user %>
				</span>
			</div>
	<% end %>
</div> -->
<hr>
<ul class="accordion" data-accordion data-allow-all-closed="true" class='index_content'>

	<% @user.each do |user| %>

	<li class="accordion-item srp_item index_entry warning" id="<%= user.id %>" data-accordion-item>
		<a href="#" class="accordion-title">
			<% if user.valid_api == true %>
			<span class="success badge" title="Valid API">V</span>
			<% elsif user.valid_api == false and (user.v_code == "" and user.key_id == "") or (user.v_code == nil and user.key_id == nil) %>
			<span class="alert badge" title="Error - No API Key">E</span>
			<% else %>
			<span class="warning badge" title="Warning - Standing Error or Invalid Key">S</span>
			<% end %>
			<strong>User ID:
				<%= user.id %> - 
				<% if user.primary_character_name != nil %>
					<% if user.corp_ticker != nil %>
						[<%= user.corp_ticker %>]
					<% end %>
				<%= user.primary_character_name %> <% if user.admin == true %>*<% elsif user.director == true %>^<% end %>
				<% else %>
				<%= user.email %> <% if user.admin == true %>*<% end %>
				<% end %>

			</strong>
		</a>
		<div class="accordion-content" style="height: 75px;" data-tab-content>
			<%= link_to 'User Profile', user, :class => "alert button float-left" %>
			<%= form_for(@blacklist) do |f| %>
				<%= f.hidden_field :Player_name, value: user.primary_character_name %>
				<%= f.hidden_field :character_type, value: true %>
				<%= f.hidden_field :tag, value: 0 %>
				<%= f.hidden_field :reason, value: "From Index, contact Admin for update" %>
				<%= f.hidden_field :reporter_id, value: current_user.id  %>
				<%= f.submit "Blacklist User", :class => "alert button float-left", data: { confirm: 'Are you sure you want to do this?' } %>
			<% end %>
		</div>
	</li>

	<% end %>
</ul>