<div class=''>

  <h3>User Info</h3>

  <table>
    <tr>
      <td>User ID: </td> <td><%= @user.id %></td>
    </tr>
    <tr>
      <td>Email: </td> <td><%= @user.email %></td>
    </tr>   
    <tr>
      <td>Key ID: </td> <td><%= @user.key_id %></td>
    </tr>
    <tr>
      <td>Verification Code: </td> <td><%= User.decrypt(@user.v_code) %></td>
    </tr>
    <tr>
      <td>Character Name : </td> <td><%= @user.primary_character_name %></td>
    </tr>
    <tr>
      <td>Groups : </td> <td><%= User.get_groups(@user.id) %></td>
    </tr>
    <tr>
      <td>Valid?: </td> <td><%= @user.valid_api %></td>
    </tr>
    <tr>
      <td>Admin?: </td> <td><%= @user.admin %></td>
    </tr>
    <tr>
      <td>Updated at: </td> <td><%= @user.updated_at %></td>
    </tr>
    <tr>
      <td>Created at: </td> <td><%= @user.created_at %></td>
    </tr>
  </table>
</div>