<div class=''>

  <h2>User Info</h2>

  <table>
    <tr>
      <td> ID / Email: </td> <td><%= @user.id %> | <%= @user.email %></td>
    </tr>   
    <tr>
      <td>Key ID: </td> <td><%= @user.key_id %></td>
    </tr>
    <tr>
      <!-- <td>Verification Code: </td> <td><%= User.decrypt(@user.v_code) %></td> -->
      <td>Verification Code: </td> <td><strong><"REDACTED"></strong></td>
    </tr>
    <tr>
      <td>Character Name : </td> <td><%= @user.primary_character_name %> | <%= @user.primary_character_id %> | <%= @user.primary_character %></td>
    </tr>
    <tr>
      <td>Discord ID : </td> <td><%= @user.discord_user_id %></td>
    </tr>
    <tr>
      <td>Groups : </td> <td><%= User.get_groups(@user.id) %></td>
    </tr>
    <tr>
      <td>Valid?: </td> <td><%= @user.valid_api %></td>
    </tr>
    <tr>
      <td>Admin?: </td> <td><%= @user.admin %></td>
    </tr>
    <tr>
      <td>Updated at: </td> <td><%= @user.updated_at %></td>
    </tr>
    <tr>
      <td>Created at: </td> <td><%= @user.created_at %></td>
    </tr>
  </table>
</div>

<%= render 'toolbox/char_sheet' %>