<%= form_for(@timesheet) do |f| %>

  <div class="field">
    <div>Timer Name</div>
    <%= f.text_field :event, :required => 'required' %>
  </div>
  <div class="field">
    Timer Type:
    <%= f.select :event_type, [["None"],["Sov Timer - Offensive"],["Sov Timer - Defenceive"], ["Upwell Structure - Timer"], ["Upwell Structure - Kill Timer"], ["POS Timer"], ["Other"]], {}, { :class => 'Timer_Type_select' } %>
  </div>
  <div class="field" id="event_time">
    <strong>Event Time:</strong> (Enter your Local Time)
    <div>
    <%= f.datetime_select :event_time, :required => 'required' %>
    </div>
  </div>
<!--   <div class="field">
    Urgency:
    <%= f.select :urgency, [["Offensive - Low Priority - Bash time...",1],["Offensive - Medium Priority - Alliance Objectives", 2],["Offensive - High Priority - Strategic Operation", 3],["Defence - Low Priority - Possible Timer Punt", 4],["Defence - High Priority - There will be a fight", 5], ["Defence - Ultra High Priority - Bat phone", 6]] %>
  </div> -->
  <div class="field">
    Notes / Location<br>
    <%= f.text_area :notes, cols: "30", rows: "10" %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="actions">
    <%= f.submit "Update", :class => "alert button float-left"  %>
  </div>
<% end %>
