<%= form_for(@timesheet) do |f| %>
  <% if @timesheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timesheet.errors.count, "error") %> prohibited this timesheet from being saved:</h2>

      <ul>
      <% @timesheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event %><br>
    <%= f.text_field :event, :required => 'required' %>
  </div>
  <div class="field">
    Timer Type:
    <%= f.select :event_type, [["None", 0],["Teritory Claim Unit", 1],["Infastructure Hub", 2], ["Outpost", 3], ["Player Owned Station", 4], ["Strategic Operation", 5]] %>
  </div>
  <div class="field" id="event_time">
    <%= f.label :event_time %><br>
    <%= f.datetime_select :event_time, :required => 'required' %>
  </div>
  <div class="field">
    Urgency:
    <%= f.select :urgency, [["Offensive - Low Priority - Bash time...",1],["Offensive - Medium Priority - Alliance Objectives", 2],["Offensive - High Priority - Strategic Operation", 3],["Defence - Low Priority - Possible Timer Punt", 4],["Defence - High Priority - There will be a fight", 5], ["Defence - Ultra Hig Priority - Bat phone", 6]] %>

  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
