<h2>My SRP Requests</h2>
<div class='row'>
  <div class='medium-5 float-left API_border srp_request_info'>
    <%= form_for(@srp_request) do |f| %>
    <% if @srp_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@srp_request.errors.count, "error") %> prohibited this srp_request from being saved:</h2>

      <ul>
        <% @srp_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class='row'>
      <div class="field">
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :user_name, value: current_user.primary_character_name %>
      </div>
      <div class="field columns medium-10">
        <%= f.label :ship %><br>
        <%= f.text_field :ship, :required => 'required' %>
      </div>
      <div class="field">
        <%= f.hidden_field :status, value: 0 %>
      </div>
      <div class="field columns medium-10">
        <%= f.label :link %><br>
        <%= f.text_field :link, :required => 'required' %>
      </div>
      <div class="field columns medium-10">
        <%= f.label :user_notes %><br>
        <%= f.text_area :user_notes %>
      </div>
      <div class="actions columns">
        <%= f.submit %>
      </div>
    </div>
      <% end %>

  </div>
  <div class='medium-5 float-left warning_border srp_request_info'>
    A ship replacement program is intended to keep people in PvP capable ships while providing as low of a financial impact to the player as possible.
    <hr>
    Please fill out the form to the left and include the ship type, and a link to your loss mail from a third party site such as Zkillboard or EvE-kill.
  </div>
</div>
  <div class='medium-12 float-left password_border'>
    <h3>My SRP Requests</h3>

    <table>
      <thead>
        <tr>
          <th>Request ID</th>
          <th>Ship type</th>
          <th>Killboard Link</th>
          <th>Status</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @my_srp_requests.each do |srp_request| %>
        <tr>
          <td><%= srp_request.id %></td>
          <td><%= srp_request.ship.capitalize %></td>
          <td><%= link_to srp_request.link.to_s, "http://#{srp_request.link}" %>

          </td>
          <td>
          <%= SrpRequest.Status_check(srp_request.status) %>
          </td>
          <td><%= link_to 'Show Details', srp_request %></td>
          <% if srp_request.status == 0 %>
          <td><%= link_to 'Retract Request', srp_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>
  </div>

</div>
