<!DOCTYPE html>
<html>
<head>
  <title>VRTEXApiTool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='small-12 medium-12 large-12 columns masthead'>
    <div class="float-left" id='toolbar-switch-anchor' >
      <div class='active' id='toolbar-switch' onclick="Module.toolbar_slide(), Module.toolbar_rotate()"></div>
    </div>
    <h2 class='float-left'><%= link_to 'VRTEX API Tool', root_path %></h2>

    <div class="login float-right">
      <% if user_signed_in? %>
      <li>
        Signed in as <%= current_user.email %>
      </li>
      <li>
        <%= link_to('Edit Account', edit_user_registration_path) %> | <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </li>
      <% else %>
      <li>
        <%= link_to('Login', new_user_session_path)  %>  
      </li>
      <li>
        <%= link_to('Sign Up', new_user_registration_path)  %>
      </li>
      <% end %>
    </div>
  </div>
    <div class='masthead-buffer'></div>
    <div class=''>
    <div class='small-2 medium-2 large-2 columns float-left' id='toolbar'>
          <%= render :partial => 'users/toolbar' %>
    </div>
    <div class='medium-9 large-9 columns content float-left'>
      <%= yield %>
    </div>
    </div>
</body>
</html>
